@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&family=Jomhuria&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: #404040;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    transition: 0.3s ease;
}

.logo:hover {
    color: #fca00d;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}

.nav ul li a{
    text-decoration: none;
    color: #404040;
    font-size: 1.1em;
    font-weight: 500;
    position: relative;
    transition: 0.15s ease;
}

.nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #404040;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s ease;
}

.nav ul li a:hover::after {
    width: 100%;
}

.nav a:hover {
    color: #fca00d;
}

section {
    padding: 100px 200px;
}

.main {
    background: url(images/Home\ BG\ \(solid\).jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 0;
    padding-bottom: 0;
}

.main .container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.main .container .text {
    margin-top: 500px;
}

.main .container .background {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
}

.main h2 {
    color: #f0f0f0;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #404040;
    font-size: 2em;
    font-weight: 600;
}

.main h3 {
    color: #f0f0f0;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-button {
    color: #f0f0f0;
    background-color: #404040;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 15px;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-bottom: 30px; 
    transition: 0.5s ease;
}

.main-button2 {
    color: #fff;
    border: #fff solid 2.5px;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 12.5px;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-bottom: 30px; 
    margin-left: 20px;
    transition: 0.5s ease;
}

.main-button:hover {
    background-color: #333333;
    transform: scale(1.1);
}

.main-button2:hover {
    background-color: #333333;
    transform: scale(1.1);
}

.main .go-down {
    color: #404040;
    position: relative;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

.main .go-down:hover {
    color: white;
}

.main .go-down i{
    font-size:xx-large;
    animation: bouncing 1.5s infinite;
}

.social-icons a{
    color: #404040;
    font-size: 1.7em;
    padding-right: 10px;
    display: inline-block;
    transition: 0.2s ease;
}

.social-icons a:hover {
    color: #f0f0f0;
    transform: translateY(-5px);
}

.row {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.about-col-2 p {
    color: #333333;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #404040;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-titles p {
    color: #404040;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #fca00d;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s ease;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    color: #404040;
}

.tab-contents ul li span {
    font-weight: bold;
    color: #fca00d;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.title {
    margin: 0 auto 80px;
    color: #404040;
    border: 2px solid #404040;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.title::before,
.title::after{
    content: "";
    width: 12px;
    height: 12px;
    background-color: #404040;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.title::before{
    left: -30px;
}

.title::after{
    right: -30px;
}

.title:hover::before {
    z-index: -1;
    animation: left-move 0.2s linear forwards;
}

.title:hover::after {
    z-index: -1;
    animation: right-move 0.2s linear forwards;
}

.title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.2s;
}

.cards {
    background-color: #fca00d;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #404040;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #fca00d;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.info p {
    color: #777;
}

.projects {
    background-color: #fff;
}

.projects .content {
    margin-top: 30px;
}

.project-card {
    background-color: #f0f0f0;
    border: 1px solid #404040;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.5s ease;
}

.project-card:hover {
    transform: scale(1.1);
}
.project-card:hover .project-image{
    opacity: 0.9;
}

.project-image img {
    width: 100%;
}

.project-info {
    padding: 1em;
}

.project-category {
    color: #777;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
    color: #404040;
}

.more-details {
    text-decoration: none;
    color: #fca00d;
}

.more-details:hover {
    color: #404040;
}

.cards-contact {
    background-color: #fca00d;
}

.contact .icon {
    font-size: 4.5em;
}

.contact .info p {
    font-size: 1.5em;
}

.cards-contact .container .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #fff;
    padding: 15px;
    margin: 15px 0;
    color: #404040;
    font-size: 18px;
    border-radius: 6px;
    border: #333333 solid 2px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}

.submit-button {
    color: #404040;
    background-color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: block;
    margin: 0 auto;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 6px;
    margin-bottom: 40px; 
    transition: 0.3s ease;
}

.submit-button:hover {
    background-color: #404040;
    color: #f0f0f0;
}

footer {
    background-color: #404040;
    color: #fff;
    padding: 1.2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-weight: 300;
    display: flex;
    align-items: center;
}

.footer-title i {
    color: #fca00d;
    margin-left: 5px;
    margin-right: 5px;
}

footer .social-icons a {
    color: #f0f0f0;
    font-size: 1.3em;
}

footer .social-icons a:hover {
    color: #fca00d;
}

nav .fa-solid {
    display: none;
}

#msg {
    color: #fff;
    margin-top: -40px;
    display: block;
}


@media (max-width: 1395px) {
    header {
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .main {
        background-color: #fca00d;
        background-image: none;
    }

    .main .container .text {
        margin-top: 0;
    }

        .main .container{
        flex-direction: column-reverse;
        justify-content: center;
    }

    .main .container .text {
        text-align: center;
    }

    .main .container .background {
        text-align: center;
        width: fit-content;
        margin-bottom: 20px;
    }

    .main .container .background img {
        width: 400px;
        height: auto;
    }

    .title {
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 1em;
    }

    .main-content h3 {
        font-size: 1.6em;
    }
}

@media (max-width: 991px) {

    .main .container{
        flex-direction: column-reverse;
        justify-content: center;
    }

    .main .container .text {
        text-align: center;
    }

    .main .container .background {
        text-align: center;
        width: fit-content;
        margin-bottom: 20px;
    }

    .main .container .background img {
        width: 200px;
        height: auto;
    }

    .main .go-down {
        display: none;
    }
}

@media (max-width: 641px) {
    body {
        font-size: 12px;
    }

    .main .container .background img {
        width: 300px;
        height: auto;
    }

    .main .go-down {
        display: none;
    }

    .main-button {
        margin-bottom: 15px; 
    }

    .main-button2 {
        margin-left: 10px;
    }
    
    .main-content h2 {
        font-size: 0.8em;
    }

    .main-content h3 {
        font-size: 1.4em;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #f0f0f0;
        position: fixed;
        top: 0;
        right: -200px;
        width: 100px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 50px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 393px) {

    .main .container .background img {
        width: 250px;
        height: auto;
    }

    .main-button {
        margin-bottom: 15px; 
    }

    .main-button2 {
        margin-left: 0;
    }

    footer .social-icons a {
        padding-right: 5px;
}
}

@media (max-width: 350px) {
    body {
        font-size: 10px;
    }

    .main-content h2 {
        font-size: 0.8em;
    }

    .main-content h3 {
        font-size: 1.4em;
    }

    
    .about-col-2 {
        font-size: 12px;
    }

    .tab-links {
        font-size: 14px;
        margin-right: 18px;
    }

    .sub-title {
        font-size: 40px;
    }
}

/* Start Animation */
@keyframes up-and-down {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}

@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40%, 60% {
        transform: translateY(-10px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

/* End Animation */